:root {
    --primary-color: #fe6333;
    --sub-color: #ee2624;
    --titel-color: #464646;
    --text-color: #252525;
    --white-color: #FFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
html {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}
li {
    list-style-type: none;
}
ul {
    padding-inline-start: 0px;
    margin-bottom: 0;
}
a {
    display: inline-block;
    color: #252525;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
.flex-elm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
::selection {
    color: #FFF;
    background-color: var(--primary-color);
}

.food-text {
    color: var(--primary-color);
    margin-left: 3px;
    font-weight: 400;
}


@keyframes boder_menu {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


@keyframes show_order {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes ZoomOut {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes showMenu {
    from {
        transform: translateX(100%);
        display: none;
    }
    to {
        transform: translateX(0%);
        display: block;
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0%);
        display: block;
    }
    to {
        transform: translateX(100%);
        display: none;
    }
}

/*=============== Header ===================*/

.header {
    height: 80px;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 5;
}
.header-box {
    height: 100%;
    justify-content: space-between;
}
.header-logo {
    width: 20%;
}
.header-direction {
    width: 15%;
}
.header-menu {
    flex: 1;
    height: 100%;
    z-index: 1000;
}

.header-logo img {
    width: 45px;
    height: 45px;
}
.header-logo > span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 5px;
    color: var(--white-color);
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateX(0%);
}
.close-menu {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transition: .5s ease;
    display: none;
}
.close-menu:hover {
    background-color: #f2f2f2;
}
.header-menu li {
    min-width: 60px;
    padding: 10px;
    margin: 0 15px;
    height: 100%;
    display: flex;
    position: relative;
}
.header-menu li::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 2.5px;
    bottom: 0px;
    left: 0px;
}
.header-menu li:hover::after {
    animation: boder_menu .3s ease forwards;
}
.header-menu .active::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    height: 2.5px;
    bottom: 0px;
    left: 0px;
}
.header-menu li a {
    line-height: 60px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 500;
}
.account {
    text-align: right;
}
.account div {
    display: inline-block;
}
.account span {
    border: 2px solid var(--primary-color);
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}
.account span:hover {
    background-color: var(--primary-color);
    color: #FFF !important;
}
.account span:nth-child(2) {
    display: none;
    margin-left: 5px;
}

.account div {
    position: relative;
}
.account ul {
    position: absolute;
    background-color: #FFF;
    left: 0px;
    width: 100%;
    text-align: center;
    top: 35px;
    border-radius: 5px;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.account ul.show {
    display: block;
}
.account ul li {
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s ease;
}
.account ul li:hover {
    background-color: var(--primary-color);
    color: #FFF;
}


.header-active {
    box-shadow: rgba(149, 157, 165, 0.5) 5px 5px 10px;
    background-color: #FFF;
    position: fixed;
    transition: .2s ease;
}
.header-active .header-logo span {
    color: var(--primary-color);
}
.header-active ul li a {
    color: var(--text-color);
}
.header-active .account span {
    color: var(--text-color);
}









.footer {
    /* padding: 150px 0;
    background: url('/assets/img/aaaaa.png');
    background-position:center;
    background-size: cover; */
    background-color: rgb(20, 20, 20);
    padding: 120px 0;
}
.footer-about ul h3,
.footer-input ul h3 {
    font-size: 21px;
    font-weight: 600;
}
.footer-about ul,
.footer-input ul {
    text-align: center;
    color: #FFF;
}
.footer-about ul:nth-child(1) li:hover span {
    color: var(--primary-color);
}
.footer-about ul:nth-child(1) li span {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    transition: .2s ease;
    margin-right: 5px;
}
.footer-about ul:nth-child(1) li {
    font-weight: 500;
    margin: 10px 0;
    color: #FFF;
}

.footer-about ul:nth-child(2) {
    margin-top: 20px;
}
.footer-about ul:nth-child(2) li {
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}
.footer-about ul:nth-child(2) li span {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: .2s ease;
}
.footer-about ul:nth-child(2) li span:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}
.footer-about ul:nth-child(2) li span i {
    font-size: 20px;
    line-height: 35px;
}
.footer-about ul:nth-child(2) li span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}


.footer-logo {
    text-align: center;
    color: #FFF;
}
.footer-logo p {
    margin-top: 10px;
    font-size: 17px;
}

.footer-input li {
    margin: 15px 0;
}
.footer-input h3 {
    margin-bottom: 20px;
}
.footer-input input[type="text"] {
    border: 1px solid #FFF;
    outline: none;
    padding: 5px 15px;
    background-color: #FFF;
    border-radius: 5px;
    width: 65%;
    font-size: 14px;
    color: #333;
    border-radius: 20px !important;
}
.footer-input li button {
    border: none;
    width: 30%;
    padding: 8px 10px;
    letter-spacing: 4px;
    border-radius: 8px;
    transition: .2s ease;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: var(--primary-color);
    color: #FFF;
}
.footer-input li button:hover {
    background-color: #FFF;
    color: var(--primary-color);
}



#myModal {
    display: none;
}

.User-modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-overley {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.modal-box {
    width: 300px;
    height: auto;
    background-color:#fff;
    z-index: 10;
    border-radius: 5px;
    animation: ZoomOut 0.3s ease;
}

.Sign-In-Box {
    text-align: center;
    padding: 20px 20px 20px;
}

.Sign-In-Box > span:nth-child(1) {
    float: right;
    color: #000;
    font-size: 18px;
    position: relative;
    right: -7px;
    top: -14px;
    font-weight: 600;
    cursor: pointer;
}

.Sign-In-Box h1 {
    color: var(--text-color-1);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 10px 10px;
}

.fa-user, 
.fa-lock,
.fa-user-plus,
.fa-at,
.fa-unlock-alt,
.fa-key {
    color: #acacac;
    font-size: 15px;
} 


.Social-media h4 {
    font-size: 14px;
    margin: 15px 0;
    color: var(--primary-color);
}

.Social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social-media ul li a {
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    color: #333;
    transition: .2s ease;
}

.Social-media ul li a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 50%;
}

.form__input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 12px;
    background-color: #eeeeee;
    overflow: hidden;
    border-radius: 5px;
}

.form__input-group span {
    width: 12%;
    display: block;
    padding-right: 12px;
}

.form__text {
    font-size: 14px;
    margin: 15px 0;
}

.form__text a span {
    transition: ease .2s;
}

.form__text a span:hover {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__input {
    display: block;
    flex: 1;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__button {
    width: 100px;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease;
    margin: 5px 0px;
    color: #FFF;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.form__button:hover {
    color: var(--primary-color);
    background-color: #FFF;
    border: 2px solid var(--primary-color);
}

.form__button:active {
    transform: scale(0.98);
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: default;
    font-size: 14px;
    font-weight: 500;
}

.conguration {
    color: #ee2624;
    margin: 5px 0 10px;
    display: block;
}

.show-conguration {
    display: block;
}



@media (max-width: 767px) {

    .footer-about,
    .footer-input,
    .footer-logo {
        margin-bottom: 20px;
    }
}


@media (max-width: 992px) {
    .header > .container {
        height: 100%;
    }
    .header-menu {
        position: fixed;
        flex-direction: column;
        background-color: #FFF;
        height: 100vh;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
    }
    .close-menu {
        display: block;
    }
    .header-menu {
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    }
    .header-menu li {
        height: auto;
        justify-content: center;
        width: 250px;
        margin: 20px 15px;
    }
    .header-menu li a {
        color: var(--text-color) !important;
    }

    .header-logo,
    .header-direction {
        width: 50%;
    }

    .account span:nth-child(2) {
        display: inline-block;
    }
    
    .footer {
        padding: 80px 0; 
    }
}

@media (max-width: 1199px) {

    .footer-logo {
        order: -1;
    }

}